<div>
    <form action="/login" method="post">
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Accedi</button>
    </form>
    <a href="/registrati">Effettua la registrazione</a>
</div>