<div class="menu-container">
    <form action="/getInfo" method="post">
        <button>GetInfo</button>
    </form>
    <ul class="main-menu">
        <li class="menu-el">
            <a href="/">Home page</a>
        </li>
        <li class="menu-el">
           <a href="/inventariomenu">Inventario</a>
        </li>
        <li class="menu-el">
            <a href="/ordini">Ordini</a>
        </li>
        <li class="menu-el">
            <a href="/ordinidel">Ordini Eliminati</a>
        </li>
    </ul>
</div>

